/* 上方區域+漢堡選單 */
		
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}
li {
	list-style: none;
}
a {
	color: #6C6C6C; 
	background: transparent; 
	border: 2px transparent;
	padding: 4px 32px;
	text-align: center;
	font-weight:bold;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}
.logo{
	width:300;
}
.divide{
	width:100%;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	margin-right:0;
}
.hamburger {
	display: none;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-item {
	margin-left: 5rem;
	margin-bottom:-15px;
}
.nav-link:hover{
	color: black;
	border-bottom: 2px solid #7B7B7B;
}
		

/* 漢堡icon變叉叉 */
.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

/* 下方區域 */
		
.nowplace{
	margin-top:20;
	margin-bottom:30;
	font-weight:bold;
	font-size: 30px;
}
		
/* 垂直擺放的容器和項目*/
		
.below{
	display:flex;
	flex-direction: column;
	width:1300px;
	height:1200px;
	margin: auto;
}
		
.item-Marquee {			
	width: 800px;
	height: 420px; 
	margin: 5px auto;			
}
		
.item-button {			
	width: 1000px;
	height: 80px; 
	margin: 5px auto;					
}
		
/* 跑馬燈圖片 */
		
.box1{
	padding: 0;
	width: 666px;
	height: 400px; 
	margin: auto;
	overflow: hidden;
	border: 3px solid black;
}
			
.list{
	margin: 0;
}
			
.photo{
	width: 666px;
	height: 400px;
	font-size: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}
	
.local{				
	display: flex;
	justify-content: center;					
}
					
.button {
	padding: 15px 15px;
	border-radius: 50%;
	display: inline-block;
	font-size: 3rem;
	cursor: pointer;
	color: #fff;
	background-color: #13347c;
	box-shadow: 0px 9px #999;
	transition-duration: 0.4s;
}
.button:active {
	background-color: #4d73c7;
	box-shadow: 0px 5px #666;
	transform: translateY(5px);
}
		
/* 位置文字訊息 */
		
.item-word {
	width:999px;
	height:500px;
	margin: 5px auto;
	background-color:white;
}
		
.word {
	width:700px;
	height:500px;
	margin:  auto;
	border: 3px solid #c0c0c0;
	font-size: 20px;	
}
				
/* 回首頁圖的效果 */
		
.item-back{
	width:999px;
	height:100px;
	margin: 5px auto;		
}
		
.box2{
	width: 200px;
	height: 100px;
	overflow: hidden;
	margin:  auto;			
}
		
img{
	transition: .5s;
}
		
.box2:hover img{
	transform: scale(1.2);
}
		
.cover-fit{
	width: 110%;
	height: 50%;
	object-fit: cover;
}

/* 小圖片 */
.icon-lost-people{
	width:128px;
	height:128px;
	position:absolute;
	top:800px;
	left:150px;
}

/* 背景 */
	.backg{
		height: 1400px;
		margin-top: 0;
		background-image: url("../pic/backgg.jpg");
		background-repeat: repeat;
	}
		

/* 響應式 */
		
@media only screen and (max-width: 395px) {
	
	/* 漢堡選單 */
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		clear: both;
		flex-direction: column;
		background-color: #fff;
		opacity: 0.95;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		border-style: 5px solid #efefef;
		box-shadow:
			0 10px 27px rgba(0, 0, 0, 0.05);
					
		.nav-link:hover{
			background: #333;
			width:100%;
			color: white;
			border-bottom: 0;
		}
	}
	.nav-menu.active {
		left: 0;
	}
	.nav-item {
		margin: 1.5rem;
	}
	a {
		font-size: 20px;
		padding:full;
	}
	.nav-link{
		color: black;
		width: 100%;
	}
			
	.hamburger {
		display: block;
		cursor: pointer;
	}
			
	/* LOGO */
			
	.logo{
		width:215;
	}
			
	/* 界線 */
			
	.range{
		overflow:hidden;
		width:100%;
		height:10px;
	}
	.divide{
		width:300%;
	}

	/* 背景 */
		
	.backg{
		weight:full;
		margin-top: 0;
		background-image: url("../pic/fff.jpg");
		background-size: 100%;
		background-repeat: repeat;
	}
			
	/* 現在位置 */
			
	.nowplace{
		margin-bottom: 20px; 
		font-size: 20px;
	}
			
	/* 中間 */
			
	.below{
		width:395px;
		height:700px;
		
	}
			
	/* 垂直擺放的容器和項目*/
			
	.item-Marquee {			
		width: 380px;
		height: 370px; 
	}
		
	.item-button {			
		margin-bottom: 25px;
		width: 395px;
		height: 50px;
	}
		
	/* 跑馬燈圖片 */
			
	.box1{
		width: 340px;
		height: 240px;
	}
	.photo{
		width: 340px;
		height: 240px;
	}
	
	/* 位置文字訊息 */

	.item-word {
		width:395px;
		height:500px;			
	}
	.word {
		width:365px;
		height:300px;
		margin-left: 15px;
		font-size: 15px;	
	}
			
	/* 回首頁圖的效果 */
			
	.item-back{	
		width:395px;
		height:90px;
	}	
		
}
